nav{
    background: white;
}
.navbar-toggler{
    border: none !important;
    box-shadow: none !important;
}
.nav-link{
    font-size: 20px !important;
}
.nav-link.active,
.nav-link:active,
.nav-link:hover,
.nav-link:focus {
    color: #f43444 !important;
}
.carousel-item{
    height: calc(100vh - 62px) !important; 
}
.carousel-item img{
    object-fit: cover !important;
    height: 100%;
}

.carousel-caption{
    transform: translate(-1%,-90%) ;
    text-align: left !important;
    width: fit-content !important;
}
.carousel-caption .btn,
.section4 .btn,
footer .btn{
    background: #f43444;
    color: whitesmoke;
    font-size: 18px;
    border: 2px solid transparent;
    transform: translateY(50%);
}
.carousel-caption .btn:hover,
.section4 .btn:hover,
footer .btn:hover{
    background: transparent;
    border: 2px solid #f43444;
    color: #f43444;
    
}
.carousel-inner{
    background-position: center;
}
 
.section1 .row .ch::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.353);
     z-index: 1;
     left: 0;
}
.section1 .row .ch{
    position: relative;
    overflow: hidden; 
    
}
.section1 .card-img-overlay{ 
     display: flex;
     flex-direction: column;
      justify-content: center;
      align-items: center;
    z-index: 2;
}
.section1 .btn,
footer .btn{
    width: fit-content;
}
.section1 .card-img-overlay h2{
    font-weight: 500;
}
.section1 .row .card{
    position: relative;
}
.section1 .row .card::after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.293) );
    left: -100%;
    transform: skewX(-25deg);
}

.section1 .row > div:hover .card::after {
    animation: shine 1s;
}
.featured .title::before,
.section4 .title::before,
.section5 .title::before{
    content: "";
    width: 100px;
    height: 2px;
    position :absolute ;
    background: #f43444;
    transform: translateX(-50%);
    bottom: -15px;
}
.featured .row div p span, .st{
    color: #f43444;
    font-size: 18px 
}

.featured .row div i{
    font-size: 18px 
}
.featured  .h3:hover,
.featured   .h3:active{
    color: #f43444 !important;
}
.featured .badge{
    position: absolute;
    top: 0;
    left: 0;
}
.carousel-item img{
    background-position: 65% center !important;
}
.section3 > div{
    position: relative;
    cursor: pointer;
}
.section3 > div::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.217);
}
.section3 > div:hover img{
    transform: scale(1.1);
    
}
.section4 .badge{
    position: absolute;
    top: 10px;
    left: 20px;
}
.section4 .col-2{
    background: white;
    height: 100px;
}
.section5 .carousel-caption{
    transform: translate(-1%,-10%) ;
    text-align: left !important;
    width: fit-content !important;
}
.section5 .carousel-inner{
    text-align: center !important;
}
.carousel-indicators  [data-bs-target]{
    background-color: #f43444 !important;
    width: 2.5rem  !important;
    height: 0.313rem !important;
     
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    background: transparent !important;
}
.carousel-control-prev-icon i,
.carousel-control-next-icon i{
    font-size: 3rem;
    font-weight: 600;
    color: #f43444;
}
footer input:focus,
footer textarea:focus{ 
    border: 1px solid #f43444 !important;
}
 
@keyframes shine{
    100%{
        left: 150%;
    }
}
@media (min-width:768px) and (max-width:1186px){
    .card-img-overlay .h2{
        font-size:calc(10px +  (100vw * 0.03))  !important;
    }
    .card-img-overlay .p{
        font-size:calc(10px +  (100vw * 0.005))  !important;
    }
}
@media (max-width:767px){
    .featured{
        margin: 20%;
    }
    .carousel-item{
        height: 60vh !important; 
    }
    .carousel-caption{
        transform: translate(-1%,-40%) ;
        text-align: left !important;
        width: fit-content !important;
    }
     
}
@media (max-width:520px){
    .section3 .card-img-overlay h3{
        font-size: 20px;
    }
    
}


 